<div class='row gy-3'>
  <% if @videos.present? %>
    <%= render partial: 'video', collection: @videos, locals: { playlists: @playlists } %>
  <% else %>
    <div class='alert alert-info'>
      No videos found.
    </div>
  <% end %>
</div>

<%= render partial: 'pagination', locals: { page: @page, total_pages: @total_pages } %>
