<h1 class='mb-4'><%= @playlist.name %></h1>

<% if @videos.present? %>
  <div class='row'>
    <%= render partial: 'video', collection: @videos, locals: { playlist: @playlist } %>
  </div>
<% else %>
  <div class='alert alert-info'>
    No videos in this playlist.
  </div>
<% end %>
